<div class="chart-wrapper">
  <div class="bar-chart">
    <div *ngFor="let data of chartData" class="bar-container">
      <div
        class="bar"
        [style.height.px]="getBarHeight(data.count)"
        [style.backgroundColor]="data.color"
        (mouseover)="hoveredBar = data"
        (mouseleave)="hoveredBar = null"
      ></div>
      <div class="tooltip" *ngIf="hoveredBar === data">
        <p>{{ data.count > 0 ? data.count + " entries" : "No entries" }}</p>
        <p>{{ getMonthYear(data.month) }}</p>
      </div>
    </div>
  </div>
</div>
