.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar-chart {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  max-width: 700px;
  width: 100%;
}

.bar-container {
  flex-grow: 1;
  margin: 0;
  position: relative;
  overflow: visible;
}

.bar {
  width: 100%;
  text-align: center;
  transition: height 0.3s, background-color 0.3s;
}

.bar:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tooltip {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  pointer-events: none;
}

.tooltip p {
  margin: 0;
  font-size: 12px;
}

.bar-container:hover .tooltip {
  display: block;
}
