<div class="slider-container">
  <!-- Slider for desktop -->
  <div *ngIf="!isMobile" #slider class="slider">
    <div class="track"></div>
    <div
      class="range"
      [style.left.%]="calculatePercentage(minValue)"
      [style.width.%]="
        calculatePercentage(maxValue) - calculatePercentage(minValue)
      "
    ></div>

    <div
      class="thumb"
      [style.left.%]="calculatePercentage(minValue)"
      (mousedown)="startDrag($event, 'min')"
      (touchstart)="startDrag($event, 'min')"
    ></div>
    <div
      class="thumb"
      [style.left.%]="calculatePercentage(maxValue)"
      (mousedown)="startDrag($event, 'max')"
      (touchstart)="startDrag($event, 'max')"
    ></div>

    <div class="tooltip" [style.left.%]="calculatePercentage(minValue)">
      {{ minDate }}
    </div>
    <div class="tooltip" [style.left.%]="calculatePercentage(maxValue)">
      {{ maxDate }}
    </div>
  </div>

  <!-- Date picker container, shown only on mobile -->
  <div *ngIf="isMobile" class="date-picker-container">
    <input
      type="date"
      id="start-date"
      [(ngModel)]="startDate"
      (ngModelChange)="updateStartDate($event)"
    />
    <div class="line"></div>
    <input
      type="date"
      id="end-date"
      [(ngModel)]="endDate"
      (ngModelChange)="updateEndDate($event)"
    />
  </div>
</div>
