/* Slider styles */
.slider-container {
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.slider {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #ddd;
  margin-top: 20px;
  user-select: none;
}

.track,
.range {
  position: absolute;
  height: 100%;
  top: 0;
}

.track {
  width: 100%;
  background-color: #ddd;
}

.range {
  background-color: #5c60f1;
}

.thumb {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #5c60f1;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  bottom: 125%;
  transform: translateX(-50%);
  z-index: 1;
}

.date-picker-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  width: fit-content;
}

.date-picker-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Date picker labels */
.date-picker-container label {
  font-weight: bold;
}

.date-picker-container input[type="date"] {
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Line between date inputs */
.line {
  width: 15px;
  height: 4px;
  background-color: #000;
  align-self: center;
}
